VITE_apiKey=AIzaSyDeEjMeiUOL4qj4nFXqdoSI3SXdZYswL8g
VITE_authDomain=fir-ac4f1.firebaseapp.com
VITE_projectId=fir-ac4f1
VITE_storageBucket=fir-ac4f1.firebasestorage.app
VITE_messagingSenderId=1010948411074
VITE_appId=1:1010948411074:web:7c3b343c0d11bff172f55b